*{

    /*Define  que todos os elementos da página, ficarão em negrito e com a fonte arial */

    font-weight: bold;

    font-family: arial;

    /*Define a tamanho da fonte para todos os elementos */

    font-size: 10px;

}}